/*
 * Dark theme for the project player and editor.
 */

/* project player */

.stage-header_stage-header-wrapper-overlay_5vfJa {
	background-color: #303030;
}
.green-flag_green-flag_1kiAo:hover, .stop-all_stop-all_1Y8P9:hover {
	background-color: #ffaf0030;
}
.green-flag_green-flag_1kiAo.green-flag_is-active_2oExT {
	background-color: #ffaf0050;
}
.stage-header_stage-button_hkl9B {
	background: #202020;
	filter: grayscale(100%);
}
.stage_stage-wrapper-overlay_fmZuD {
	background-color: #181818;
}

/* project player & editor */

.preview .guiPlayer {
	color: #575e75;
}
.gui_body-wrapper_-N0sA {
	background: #202020;
	color: #575e75;
}
.gui_extension-button-container_b4rCs {
	background: #ff8000;
	border-color: transparent;
	box-shadow: 0 0 0 #ff8000;
	transition: background 0.2s ease, box-shadow 0.3s ease;
}
.gui_extension-button-container_b4rCs:hover {
	background: #ffaf00;
	box-shadow: 0 0 10px #ffaf00;
}
.gui_extension-button-container_b4rCs > button, .gui_extension-button-container_b4rCs > button:hover {
	background: transparent;
}
.gui_tab_27Unf {
	background: #404040;
	color: #dfdfdf;
	border-color: transparent;
	box-shadow: 0 0 5px #000000;
}
.gui_tab_27Unf:hover {
	background: #706050;
}
.gui_tab_27Unf.gui_is-selected_sHAiu {
	background: #505050;
	filter: hue-rotate(160deg);
}
.backpack_backpack-container_2_wGr, .backpack_backpack-header_6ltCS, .backpack_status-message_3kt5s {
	color: #dfdfdf;
}
.backpack_backpack-header_6ltCS {
	background: #505050;
}

/* project name field in editor */

input[type="text"].project-title-input_title-field_en5Gd {
	background: #00000060;
}
input[type="text"].project-title-input_title-field_en5Gd:hover {
	border-color: transparent;
	background: #000000a0;
}
input[type="text"].project-title-input_title-field_en5Gd:focus {
	border-color: transparent;
	background: #000000c0;
	box-shadow: 0 0 0 4px #00000040;
	color: #dfdfdf;
}

/* editor - sprite list and settings */

.sprite-selector_sprite-selector_2KgCX {
	background-color: #303030;
	border-color: #303030;
}
.sprite-info_sprite-info_3EyZh {
	background: #404040;
}
.sprite-info_icon-wrapper_3Wbqq {
	filter: grayscale(100%);
}
.sprite-info_radio_v-fgn.sprite-info_is-active_ewF6e {
	filter: hue-rotate(180deg);
}
.input_input-form_l9eYg:hover {
	border-color: #ffaf00;
}
.input_input-form_l9eYg:disabled:hover {
	border-color: #505050;
}
.sprite-selector-item_sprite-selector-item_kQm-i:hover {
	border-color: #ff8000;
	background: #404040;
}
.sprite-selector-item_sprite-selector-item_kQm-i.sprite-selector-item_is-selected_24tQj {
	box-shadow: 0 0 0 4px #ff800060;
	border-color: #ff8000;
	background: #404040;
}
.sprite-selector-item_sprite-info_-I0i_ {
	color: #a0a0a0;
}
.sprite-selector-item_is-selected_24tQj .sprite-selector-item_sprite-info_-I0i_ {
	background: #ff8000;
}
.delete-button_delete-button-visible_kym6v {
	box-shadow: 0 0 0 2px #ff800060;
	background: #ff8000;
}
.stage-selector_stage-selector_3oWOr {
	background: #303030;
}
.stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_ {
	box-shadow: 0 0 0 4px #ff800060;
	border-color: #ff8000;
}
.stage-selector_stage-selector_3oWOr:hover {
	border-color: #ff8000;
}
.stage-selector_header_2GVr1 {
	background-color: #404040;
}
.stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_ .stage-selector_header_2GVr1 {
	background-color: #ff8000;
}
.stage-selector_header-title_33xCt {
	color: #dfdfdf;
}
.stage-selector_label_1MCfr, .stage-selector_count_2QK7D {
	color: #a0a0a0;
}

/* scratch blocks / blockly */

.blocklySvg {
	background: #101010;
}
.blocklyMainBackground {
	opacity: 0;
}
.blocklyScrollbarHandle {
	fill: #505050;
}
.blocklyFlyoutBackground {
	fill: #303030;
}
.blocklyFlyoutLabelText {
	fill: #dfdfdf;
}
.blocklyToolboxDiv {
	background: #404040;
}
.scratchCategoryMenu {
	color: #dfdfdf;
	background: #404040;
}
.scratchCategoryMenuItem.categorySelected {
	background: #706050;
}
.scratchCategoryMenuItem:hover {
	color: #ffaf00 !important;
}
.blocklyZoom {
	filter: invert(85%);
}

/* scratch paint / custome editor */

.asset-panel_wrapper_366X0 {
	background-color: #282828;
}
.selector_wrapper_8_BHs {
	background-color: #303030;
}
.selector_new-buttons_2qHDd::before {
	background: linear-gradient(#30303000,#303030ff);
}
.paint-editor_button-group-button_1I1tm, [dir="ltr"] .paint-editor_button-group-button_1I1tm:first-of-type {
	border-color: #505050;
}
.paint-editor_button-group-button-icon_10kVn {
	filter: hue-rotate(180deg);
}
img.tool-select-base_tool-select-icon_tJ-rr {
	filter: grayscale(100%);
}
.button_mod-disabled_1rf31 {
	filter: grayscale(70%);
}

/* sound editor */

.sound-editor_button_1_6Li, .sound-editor_button_1_6Li:disabled:hover {
	background-color: #404040;
}
.sound-editor_round-button_3NLcW {
	border-color: #282828bf;
}